<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Regression Tests">

        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="tests.LoginTest"/>
            <class name="tests.DataDrivenLoginTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.RemoveProductTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.CompleteOrderTest"/>
            <class name="tests.FailureTest"/>

        </classes>

    </test>

</suite>